@charset "UTF-8";

@font-face {
  font-family: "prestart";
  src:url("fonts/prestart.eot");
  src:url("fonts/prestart.eot?#iefix") format("embedded-opentype"),
    url("fonts/prestart.woff") format("woff"),
    url("fonts/prestart.ttf") format("truetype"),
    url("fonts/prestart.svg#prestart") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "prestart" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "prestart" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-header-arrow:before {
  content: "\61";
}
.icon-header-close:before {
  content: "\62";
}
.icon-header-delete:before {
  content: "\63";
}
.icon-header-menu:before {
  content: "\64";
}
.icon-header-play:before {
  content: "\65";
}
.icon-header-stop:before {
  content: "\66";
}
.icon-menu-fault:before {
  content: "\67";
}
.icon-menu-home:before {
  content: "\68";
}
.icon-menu-logout:before {
  content: "\69";
}
.icon-menu-profile:before {
  content: "\6a";
}
.icon-menu-trips:before {
  content: "\6b";
}
.icon-other-asset:before {
  content: "\6c";
}
.icon-other-checklist:before {
  content: "\6d";
}
.icon-other-date:before {
  content: "\6e";
}
.icon-other-fail:before {
  content: "\6f";
}
.icon-other-image:before {
  content: "\70";
}
.icon-other-na-items:before {
  content: "\71";
}
.icon-other-notes:before {
  content: "\72";
}
.icon-other-notification:before {
  content: "\73";
}
.icon-other-passed-items:before {
  content: "\74";
}
.icon-other-password:before {
  content: "\75";
}
.icon-other-photo:before {
  content: "\76";
}
.icon-profile-email:before {
  content: "\77";
}
.icon-profile-name:before {
  content: "\78";
}
.icon-profile-password:before {
  content: "\79";
}
.icon-profile-phone:before {
  content: "\7a";
}
.icon-trip-distance:before {
  content: "\41";
}
.icon-trip-fuel:before {
  content: "\42";
}
.icon-trip-speed:before {
  content: "\43";
}
.icon-trip-speedo-style:before {
  content: "\44";
}
.icon-trip-star:before {
  content: "\45";
}
.icon-trip-time:before {
  content: "\46";
}
.icon-header-alarm:before {
  content: "\47";
}
.icon-report-trip:before {
  content: "\48";
}
.icon-address:before {
  content: "\49";
}
.icon-notification:before {
  content: "\4a";
}
.icon-relay:before {
  content: "\4c";
}
.icon-coordinates:before {
  content: "\4d";
}
.icon-battery:before {
  content: "\4e";
}
.icon-device-installed:before {
  content: "\4f";
}
.icon-imei:before {
  content: "\50";
}
.icon-gps:before {
  content: "\51";
}
.icon-gprs:before {
  content: "\52";
}
.icon-gsm:before {
  content: "\53";
}
.icon-mileage:before {
  content: "\54";
}
.icon-voltage:before {
  content: "\4b";
}
.icon-power:before {
  content: "\55";
}
.icon-interval-reminder-registration:before {
  content: "\56";
}
.icon-header-tracking:before {
  content: "\57";
}
.icon-live-color:before {
  content: "\58";
}
.icon-menu-asset:before {
  content: "\59";
}
.icon-scan:before {
  content: "\5a";
}
.icon-arrow-back:before {
  content: "\30";
}
.icon-live-trip:before {
  content: "\31";
}
